<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link href="style/css.css" rel="stylesheet" type="text/css">
  <title>demo</title>
</head>

<body>
  <div class='main'>
    <div class='body'>
      <div class='tree'>
        <div class='line'>
          <div class='item'>root</div>
        </div>
        <div class='line'>
          <div class='item'>item</div>
          <div class='item'>item</div>
          <div class='item'>root</div>
        </div>
      </div>
    </div>
    <div class='bottom'>
      <div class='button'>open</div>
    </div>
  </div>
  <script src='../app/index.js'></script>
</body>

</html>
